# Data 2 Knowledge Check 1

## Pull in data from an API

In [6]:
# Import packages
import requests as re 
import json
import pandas as pd

In [14]:
# Variables
url = 'https://datausa.io/api/data?drilldowns=Nation&measures=Population'
r = re.get(url) 
r_json = r.json()

In [53]:
# View json file. 
print(r_json)

{'data': [{'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2020, 'Year': '2020', 'Population': 326569308, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2019, 'Year': '2019', 'Population': 324697795, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2018, 'Year': '2018', 'Population': 322903030, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2017, 'Year': '2017', 'Population': 321004407, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2016, 'Year': '2016', 'Population': 318558162, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2015, 'Year': '2015', 'Population': 316515021, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2014, 'Year': '2014', 'Population': 314107084, 'Slug Nation': 'united-states'}, {'ID Nation': '01000US', 'Nation': 'United States', 'ID Year': 2013, 'Year': '2013', 'Population': 311536594, 'Slug Nation': 'united-states'}], 'source': [{'measures': ['Population'], 'annotations': {'source_name': 'Census Bureau', 'source_description': 'The American Community Survey (ACS) is conducted by the US Census and sent to a portion of the population every year.', 'dataset_name': 'ACS 5-year Estimate', 'dataset_link': 'http://www.census.gov/programs-surveys/acs/', 'table_id': 'B01003', 'topic': 'Diversity', 'subtopic': 'Demographics'}, 'name': 'acs_yg_total_population_5', 'substitutions': []}]}

In [33]:
# Create Pandas DataFrame. 
pop_df = pd.json_normalize(data = r_json['data']) 
pop_df.head()

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states

In [19]:
# Shape of data.
pop_df.shape

(8, 6)

In [21]:
# View population column. 
pop_df['Population']

0    326569308
1    324697795
2    322903030
3    321004407
4    318558162
5    316515021
6    314107084
7    311536594
Name: Population, dtype: int64

## Print descriptive statistics about data

In [22]:
# Average U.S. population from 2013 to 2020. 
pop_df['Population'].mean()

319486425.125

In [25]:
pop_df['Population'].median()

319781284.5

In [26]:
# Highest U.S. population from 2013 to 2020.
pop_df['Population'].max()

326569308

In [27]:
# Lowest U.S. population from 2013 to 2020. 
pop_df['Population'].min()

311536594

## Pandas query

In [29]:
# Years when the U.S. population is greater than 320,000,000. 
pop_lvl = pop_df[pop_df['Population'] > 320000000] 
pop_lvl

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states

In [32]:
# Years when the U.S. population is less than 315,000,000. 
pop_lvl2 = pop_df[pop_df['Population'] < 315000000] 
pop_lvl2

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
6   01000US  United States     2014  2014   314107084  united-states
7   01000US  United States     2013  2013   311536594  united-states

## Select and print 2nd and 3rd colums of DataFrame

In [55]:
pop_df.head()

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states

In [51]:
# Select 2nd and 3rd columns of DataFrame. 
pop_df.iloc[:, 1:3]

          Nation  ID Year
0  United States     2020
1  United States     2019
2  United States     2018
3  United States     2017
4  United States     2016
5  United States     2015
6  United States     2014
7  United States     2013

## Select and print first four rows of DataFrame

In [56]:
pop_df.head()

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states
4   01000US  United States     2016  2016   318558162  united-states

In [52]:
# Select first four rows of DataFrame. 
pop_df.loc[0:3, :]

  ID Nation         Nation  ID Year  Year  Population    Slug Nation
0   01000US  United States     2020  2020   326569308  united-states
1   01000US  United States     2019  2019   324697795  united-states
2   01000US  United States     2018  2018   322903030  united-states
3   01000US  United States     2017  2017   321004407  united-states